body{
    font-family: 'Copperplate', sans-serif;                                        
    margin: 0;
}

.container{
    max-width: 1430px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
}

header{
    height: 200px;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.header-inner .sticky{
    position: fixed;
}

.header-inner-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-inner-right p:hover{
    font-size: 17px;
    color: gray;
    transition-duration: 0.6s;
}

.header-inner-left{
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}


.header-inner-left input{
    border: none;
    padding: 20px;
}

.header-down{
    margin: 50px 0;
}

.header-down ul{
    display: flex;
    gap: 35px;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
    list-style-type: none;
}

.header-down a{
    text-decoration: none;
    font-weight: 100;
    color: black;
}

.header-down a:hover{
    font-size: 23px;
    transition-duration: 0.6s;
    color: gray;
}

.snow{
    background-image: url(../images/background.avif);
    width: 1521px;
    height: 555px;
}

.snow-inner{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.snow-inner-link1{
    width: 260px;
    padding: 12px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.snow-inner-link2{
    width: 140px;
    padding: 12px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.snow-inner-link1:hover{
    background-color: gray;
    transition-duration: 0.3s;
}

.snow-inner-link2:hover{
    background-color: gray;
    transition-duration: 0.3s;
}

.snow-inner-links{
    display: flex;
    gap: 10px;
}

.best-inner{
    margin-top: 60px;
}

.best-inner ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.best-inner li{
    align-items: center;
}

.best-inner-item{
    width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.best-inner-title-link{
    color: black;
    margin-top: 14px;
    margin-bottom: 5px;
    text-decoration: none;
}

.best-inner-link{
    text-decoration: none;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.best-inner-link:hover{
    background-color: gray;
    transform-origin: 0.3s;
}

.elegent-inner-list-item{
    align-items: center;
    width: 434px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.elegent-inner-list-item a{
    text-decoration: none;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: black;
}

.elegent-inner-list-item a:hover{
    background-color: gray;
    transition-duration: 0.3s;
}

.elegent-inner{
    margin-top: 70px;
}

.elegent-inner-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.new-inner-cards-box a{
    text-decoration: none;
    padding: 13px;
    background-color: black;
    color: white;
}
 
.new-inner-cards-box a:hover{
    background-color: gray;
    transition-duration: 0.3s;
}

.new-inner-cards-box {
    text-align: center;
}

.new-inner-cards-box p{
    margin-bottom: 40px;
}

.new{
    margin-top: 50px;
}

.new-inner-cards-1{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
}

.new-inner-cards-2{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row-reverse;
    margin-bottom: 70px;
}

.new-inner-cards-3{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
}

.new-inner-cards-4{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row-reverse;
}